.ejercicios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ejercicios-container .MuiTextField-root {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}