/* Header.css */
.app-bar {
    background: linear-gradient(135deg, #FF7F50, #FF6347);
    z-index: 1100;
    /* Ensure it is above other content */
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: white;
}

.button {
    color: #FF6347;
    /* Color del texto */
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background-color: #FFCC00;
    color: white;
}

.avatar {
    margin-left: 16px;
    cursor: pointer;
    background-color: #FFCC00;
}